html {min-height:100%;position:relative}
a.internal:link {color: #CC6600;}
a.internal:visited {color: #804C1A;}
body{height:100%; background-color:#001400;
     background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}

.container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
	width:1200px; margin:auto;
    background-color: #B2C2B2;
    background-color:rgba(1, 40, 2, 0.4);
    height: 100%;
}

.contentWrapper {
    position: absolute;
    height: 100%;
    width:100%;
}
#leftcolumn {
    background-color:#003300;
    color: #DCDCDC;  
	height:100%;
}


#maincontent {
    background-color:#003300;
    color: #DCDCDC;
    height: 100%;
}

#topbar {
    background-color:#003300;
    color: #DCDCDC;
    width: 100%;
    height: 100px;
}

/*nav-tabs and nav-pills settings*/
.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
/* proper way to do the awesome stuff */
.nav-pills > li.active > a {
    background-color: red;
    color: black;
    border-radius: 20px;
}
.nav-pills > li > a:hover {
    background-color: red;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav-tabs > li.content {
    width: 100px;
}

.nav-tabs > li.active > a{
    background-color:#4D944D;
    border: none;
    border-bottom-color: #4D944D;
    color: #DCDCDC;
}

.nav-tabs > li > a{
    background-color:#003300;
    border: none;
    border-bottom-color: #003300;
    color: #DCDCDC;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
    background-color:#8CC78C;
    border: none;
    border-bottom-color: #003300;
    color: #DCDCDC;
}

nav-tabs > li.divider {
    width:5px;
}

li, ul { cursor: default;
}

ul.RMNP {
    display: none;
}

#elevation_chart {
    height: 250px;
    width: 500px;
    float: left;
}
#maps {
    height: 500px;
    width: 500px;
    float: left;
}
img { max-width: none; }

#writtencontent {
    width: 200px;
    padding: 4px 7px 2px 4px;
    float: right;
}

#legend {
    height: 100px;
    width: 200px;
    background: white;
}